.blue {color: #1c375d;}
.bg-blue{background-color: #1c375d;}
.gray {color: #9e9e9e;}
  .backgr-black{
	background-color: black;
  }
  .img-opacity {
	opacity: 0.6;
  }
  .text {
	color: #fff;
	font-size: 4rem;
	  font-weight: bold;
	position: absolute;
	margin-top: 10%;
	left: 20%;
	z-index: 1;
}

/*Gallery*/
/* The Image container */
.gallery-media {
 margin-top: 2rem;
}

.hover-zoomin {
width: 100%;
overflow: hidden; 
position: relative;
text-align:start;
}
.hover-zoomin img {
width: 100%;
transition: transform 0.8s ease;
}

.hover-zoomin:hover img {
-webkit-transform: scale(1.15);
transform: scale(1.15);;
}

.img-01{
margin-bottom: 1rem;
margin-right: -15px;
}
.img-02{
margin-bottom: 14px;
}
.img-03{
margin-bottom: 14px;
margin-right: -15px;
}

.title-01 {
position: absolute;
bottom: 0.5rem;
left: 1rem;
color: white;
margin-bottom: 0.6rem;
}
.title-02 {
position: absolute;
bottom: 0.5rem;
left: 1rem;
color: white;
margin-bottom: 0.3rem;
}
.font-time-img{
font-size: 18px;
margin-bottom: 8px;
}
.font-title-img{
font-size: 20px;
font-weight: 700;
max-width: 95%;
}

.font-topic-news {font-size: 18px;color: #4caf50;font-weight: 600;}
.font-title-news {font-size: 21px;font-weight: 700;color:#1c375d;}

.button-read-more {
background-color: #1c375d;
transition-duration: 0.3s;
border-color: #1c375d;
font-size: 16px;
padding: 10px 12px 10px;
}
.button-read-more:hover {
background-color: #0c6f22;
}

.bg-blue {
background-color: #1c375d;
}

/* Loadding button */
.loader1 {
position: inherit;
top:inherit;
left: 0;
right:0;
text-align: center;
z-index: 1;
width: 50px;
height: 50px;
margin: auto;
}

.loader1:before {
content: '';
display: block;

}

.circular1{
-webkit-animation: rotate 2s linear infinite;
animation: rotate 2s linear infinite;
height: 100%;
-webkit-transform-origin: center center;
-ms-transform-origin: center center;
transform-origin: center center;
width: 100%;
position: inherit;
top: 0;
bottom: 0;
left: 0;
right: 0;
margin: auto;
}

.path1{
stroke-dasharray: 1, 200;
stroke-dashoffset: 0;
-webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
stroke-linecap: round;
}
@-webkit-keyframes 
rotate {  100% {
-webkit-transform: rotate(360deg);
transform: rotate(360deg);
}
}
@keyframes 
rotate {  100% {
-webkit-transform: rotate(360deg);
transform: rotate(360deg);
}
}
@-webkit-keyframes 
dash {  0% {
stroke-dasharray: 1, 200;
stroke-dashoffset: 0;
}
50% {
stroke-dasharray: 89, 200;
stroke-dashoffset: -35;
}
100% {
stroke-dasharray: 89, 200;
stroke-dashoffset: -124;
}
}
@keyframes 
dash {  0% {
stroke-dasharray: 1, 200;
stroke-dashoffset: 0;
}
50% {
stroke-dasharray: 89, 200;
stroke-dashoffset: -35;
}
100% {
stroke-dasharray: 89, 200;
stroke-dashoffset: -124;
}
}
@-webkit-keyframes 
color {  100%, 0% {
stroke: #1B365D;
}

}

.myDiv1 {
display: none; 

}

/*End Gallery*/	

/*Handling-during-covid-19*/

.title-page {
font-weight: bold;
color: #1c375d;
margin-bottom: 1.5rem;
font-size: 1.5rem;
text-align: center;
}
.font-page {
font-size: 17px;
text-align: justify;
color: #1c375d;
}
.p-16-italic {
font-style: italic;
text-align: center;
color: #1c375d;
}

/*Pagnition*/


.page-item.page-media .page-link {
	color: #1c375d;
}

.page-item.active.page-media .page-link {
	background-color: #1c375d;
	border-color: #1c375d;
	color: #fff;
}


@media only screen and (min-width: 1200px) {

}

@media only screen and (min-width: 1601px) {

}

@media only screen and (max-width: 1600px) {

}
@media only screen and (max-width: 1280px) {    /*Macboo Pro*/
	.text {
	font-size: 3rem;
	left: 15%;
	}
}
@media only screen and (max-width: 1201px) {
	
}
@media only screen and (max-width: 1024px) {
	
}
@media only screen and (max-width: 991px) {

}
@media only screen and (max-width: 768px) {
	.text {
	font-size: 2rem;
	left: 5%;
	}
}
@media only screen and (max-width: 567px) {
	.text {
	font-size: 1.5rem;
	}
	.font-time-img{
	font-size: 15px;
	}
	.font-title-img{
	font-size: 16px;
	max-width: 97%;
	}
}
@media only screen and (max-width: 428px) {
	.title-page {
	font-size: 20px;
	}
	.font-page {
	font-size: 16px;
	}
	.p-16-italic {
	font-size: 14px;
	}
}

