@charset "UTF-8";
@font-face {
  src: url("../Fonts/Roboto-Regular.ttf");
  font-family: roBo-r;
  font-weight: 400;
}
@font-face {
  src: url("../Fonts/Roboto-Bold.ttf");
  font-family: roBo-b;
  font-weight: 700;
}
@font-face {
  src: url("../Fonts/Roboto-Medium.ttf");
  font-family: roBo-md;
  font-weight: 500;
}
body, input, button, textarea {
  font-family: roBo-r;
}
@media (max-width: 991px) {
  body, input, button, textarea {
    font-size: 13px;
  }
}

p, h1, h2, h3, h4, h5, h6, label {
  padding: 0;
  margin: 0;
  font-weight: normal;
}

.reset-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #0F663B;
}

.row {
  padding: 12px;
}

.form-label {
  padding: 0;
  margin: 0;
  font-weight: normal;
}

.d-flex {
  display: flex;
}

.j-end {
  justify-content: flex-end;
}

.j-start {
  justify-content: flex-start;
}

.j-center {
  justify-content: center;
}

body, p, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

ol, ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  max-height: 100vh;
  overflow: hidden;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.header1,
.search {
  flex-shrink: 0;
}

.table-container {
  margin-top: 20px;
  transition: margin-top 0.5s ease;
  overflow: auto;
  max-height: 700px;
  flex-grow: 1;
  padding-bottom: 10px;
  display: block;
}
.table-container table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  margin-bottom: 10px;
}
.table-container table th,
.table-container table td {
  border: 1px solid #ffffff;
  white-space: nowrap;
  padding: 8px;
  border-spacing: 0;
  z-index: 1;
}
.table-container table thead {
  position: sticky;
  top: 0;
  color: #ffffff;
  z-index: 3;
}
.table-container table thead tr th {
  white-space: nowrap;
  min-width: 65px;
  font-weight: normal;
  background-color: #0F663B;
  font-size: 15px;
  text-transform: uppercase;
  color: #ffffff;
  font-family: roBo-r;
  text-align: center;
  vertical-align: middle;
  z-index: 2;
}
.table-container table tbody {
  background-color: #ffffff;
}
.table-container table tbody tr td {
  font-weight: normal;
  font-size: 14px;
  color: #666;
  font-family: roBo-r;
  text-align: center;
  vertical-align: middle;
}

th.sticky-col,
td.td-sticky-col {
  position: sticky;
  left: 0;
  z-index: 3;
  border: 1px solid #ffffff;
}

/* Đổi màu cho 4 cột đầu khi scroll */
.table-container.scrolled tr:nth-child(odd) .td-sticky-col {
  background-color: #fafafa;
}

.table-container.scrolled tr:nth-child(even) .td-sticky-col {
  background-color: #ddece5;
}

.table-container.scrolled tr:hover .td-sticky-col {
  background-color: #97c9b0;
  color: #ffffff !important;
}

.my-table .sticky-thead tr th .icon {
  font-size: 10px;
}

/* Custom scrollbar */
.table-container::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.table-container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.table-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.table-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

tbody tr:nth-child(odd) {
  background-color: #fafafa;
}

/* Màu nền cho dòng chẵn */
tbody tr:nth-child(even) {
  background-color: #ddece5;
}

tr:hover td {
  background-color: #97c9b0;
  color: #ffffff !important;
}

tbody tr .test1 {
  background-color: #FFFFE0;
  color: #666 !important;
}

@media (max-width: 767px) {
  .table-container {
    display: none;
  }
}/*# sourceMappingURL=table.css.map */