@import 'mixin';
@import 'variable';
$fontpath:"../Fonts";


@font-face{
    src: url("#{$fontpath}/Roboto-Regular.ttf");
    font-family: roBo-r;
    font-weight: 400;
}
@font-face{
    src: url("#{$fontpath}/Roboto-Bold.ttf");
    font-family: roBo-b;
    font-weight: 700;
}
@font-face{
    src: url("#{$fontpath}/Roboto-Medium.ttf");
    font-family: roBo-md;
    font-weight: 500;
}
body,input,button,textarea{
    font-family: roBo-r;
    @include respond(md){
        font-size: 13px;
    }
} 
      