$primarycolor:#1A365E;
$secondarycolor: #0F663B;
$thirdcolor:#F4E111;
$whitecolor: #ffffff;
$textbackground: #28282A;
$lightbackground: #F5F5F5;
$textcolor: #666;
$colormobile:#e9b71c;
$tdhovermobile:#152b4a;